table,
td,
th {
    border: #000 solid 1px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #6d9bc4;
    color: #fff;
}

tr {
    background-color: #ffff;
    transition: background-color 200ms ease;
}

tr:hover {
    background-color: #FFFFE0;
}

body.dark-theme table,
body.dark-theme td,
body.dark-theme th {
    border: #444 solid 1px;
}

body.dark-theme th {
    background-color: #444;
    color: #e0e0e0;
}

body.dark-theme tr {
    background-color: #222;
    color: #e0e0e0;
}

body.dark-theme tr:hover {
    background-color: #333;
}