.games-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
}

.game-card {
    text-align: center;
    text-decoration: none;
    color: #0066cc;
    font-size: 1.125rem;
    transition: transform 150ms ease;
        background-color: #ffffff;
    padding: 5px;
}

.game-card:hover {
    transform: scale(1.2);
}

.game-card img {
    border: #000 solid 1px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

@media (min-width: 300px) {
    .games-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 500px) {
    .games-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .games-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .games-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}