@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", Arial;
}

body {
    scroll-behavior: smooth;
}

header {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #000 solid 1px;
}

header .banner {
    width: 100%;
    height: 150px;
    object-fit: cover;
    pointer-events: none;
}

header .play-rd-container {
    position: absolute;
    right: 25px;
}

header .play-rd-btn {
    background-color: #f6ca54;
    border: #000 solid 2px;
    padding: 10px 20px;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    transition: background-color 1s;
}

header .play-rd-btn:hover {
    background-color: #f3b715;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #6d9bc4;
    padding: 10px;
    margin: 0;
    color: white;
    border: #000 solid 1px;
    font-size: 1.25rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: background-color 1s;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #4275a3;
}

nav ul li a.selected {
    background-color: #4275a3;
}

main {
    display: flex;
    margin: 20px;
}

aside {
    position: sticky;
    top: 0;
    max-width: 300px;
    height: fit-content;
    margin-right: 20px;
}

aside h3 {
    margin-top: 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li a {
    text-decoration: none;
    color: #0066cc;
}

section {
    flex: 1;
}

section h1 {
    margin-top: 0;
    font-size: 1.875rem;
}

section h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

@media (min-width: 0px) {
    header .play-rd-container {
        display: none;
    }

    nav ul li {
        margin: 0;
    }
}

@media (min-width: 300px) {
    nav ul {
        font-size: 0.5rem;
    }

    .game-card {
        font-size: 0.8rem;
    }
}

@media (min-width: 400px) {
    nav ul {
        font-size: 0.6rem;
    }

    .game-card {
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    nav ul {
        font-size: 0.8rem;
    }
}

@media (min-width: 600px) {
    nav ul {
        font-size: 1rem;
    }

    header .play-rd-btn {
        font-size: 0.75rem;
    }

    header .play-rd-container {
        display: block;
    }
}

@media (min-width: 800px) {
    nav ul {
        font-size: 1.1rem;
    }

    nav ul li {
        margin: 0 5px;
    }

    header .play-rd-btn {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    nav ul {
        font-size: 1.25rem;
    }

    nav ul li {
        margin: 0 10px;
    }

    header .play-rd-btn {
        font-size: 1.25rem;
    }
}