@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #737373;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #737373;
}

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

body {
    background-color: #212121;
    color: #ffff;
}

.title {
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 32px;
    border-bottom: 1px solid #848484;
}

nav {
    overflow: hidden;
    background-color: #333;
    margin: 10px 0 10px 0;
}

nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 18px;
}

nav a:hover {
    background-color: #494949;
}

.zoomA {
    transition: transform ease-in-out 0.3s;
    margin-left: 5px;
    border-radius: 10px;
    width: 300px;
    height: auto;
}

.noZoom {
    width: 200px;
    height: auto;
    margin-left: 5px;
    border-radius: 10px;
}

.zoomA:hover {
    transform: scale(1.2);
}

.imglink {
    text-decoration: none;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer
{
    background: #1c1c1c;
    height: 25px;
    margin: auto;
    margin-bottom: 10px;
    width: 400px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.footer a {
    text-align: center;
    font-size: 18px;
}

.inner {
    margin-right: 8px;
    margin-left: 8px;
}

a {
    text-decoration: underline;
    color: rgb(88, 202, 255);
}

.title a {
    text-decoration: none;
    color: #ffff;
}

.inner h1 {
    font-weight: bold;
    border-bottom: 1px solid #848484;
    margin: 10px;
    overflow: hidden;
}

.inner h2 {
    font-weight: bold;
}

.inner h3 {
    font-weight: normal;
}

.infobox {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #303030;
    color: #ffff;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
}

.infobox caption {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.infobox-image {
    border: none;
}

.infobox th {
    text-align: left;
}

.inner .desc {
    font-size: 20px;
}

br {
    visibility: hidden;
}

.upgrade {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    margin: 10px;
}

.upgradeTitle {
    margin: 0 0 24px;
}

.upgradeIcon {
    width: 100px;
    height: 100px;
    margin: 5px;
    float: right;
}

.upgradeCost {
    color: #8CD65E;
}