ul,
ol {
    list-style: none;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 0;
}

.tab {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px 5px 0 0;
    text-align: center;
    z-index: 2;
}

.tab:hover {
    background-color: #7db1de;
}

.tab.active {
    background-color: #6d9bc4;
    font-weight: bold;
}

.tab-content {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    margin-bottom: 0;
}

.tab-content ul,
.tab-content ol,
.upgrade-details ul,
.upgrade-details ol {
    list-style: disc inside;
    margin-left: 0.5em;
    padding-left: 0;
}

.tab-content ul ul,
.upgrade-details ul ul {
    list-style: circle inside;
    margin-left: 1em;
}

.tab-content li,
.upgrade-details li {
    display: list-item;
    margin-left: 0;
    padding-left: 0;
}

.tab-content.active {
    display: block;
    padding-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 5px;
}

colgroup {
    width: 25%;
}

colgroup col:last-child {
    width: 75%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #6d9bc4;
}

.inner-tabs {
    display: flex;
    cursor: pointer;
}

.inner-tab {
    flex: 1;
    padding: 8px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.inner-tab:hover {
    background-color: #7db1de;
}

.inner-tab.active {
    background-color: #6d9bc4;
    font-weight: bold;
}

.inner-tab-content {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
}

.inner-tab-content.active {
    display: block;
}

.tabber-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.tabber-tabs {
    display: flex;
    background-color: #ccc;
    border-bottom: 1px solid #ddd;
}

.tabber-tabs .tab {
    flex: 1;
    text-align: center;
    background-color: #ccc;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    border-right: 1px solid #ddd;
}

.tabber-tabs .tab:last-child {
    border-right: none;
}

.tabber-tabs .tab.active {
    background-color: #f1f1f1;
}

.upgrade {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.upgrade-image {
    width: 75px;
    height: 75px;
    border: 1px solid #ddd;
    border-radius: 5px;
    object-fit: cover;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upgrade-details {
    flex: 1;
    padding-left: 10px;
    border-left: 2px solid #ccc;
}

.upgrade-details h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.upgrade-divider {
    border: none;
    border-top: 1px dashed #ccc;
    margin: 10px 0;
}

.upgrade-details p {
    margin: 5px 0;
    font-size: 14px;
    line-height: 1.5;
}

.tower-box {
    border: 2px solid #000;
    padding: 10px;
    width: 80%;
    background-color: #f9f9f9;
    margin: 10px auto;
    display: flex;
    align-items: stretch;
    border-radius: 5px;
}

.tower-image-box {
    position: relative;
    border: 4px solid #505050;
    padding: 10px;
    background-color: #fff;
    margin-right: 3px;
    border-radius: 10px;
}

.tower-icon {
    width: 200px;
}

.tower-cost-box {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid #000;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.tower-cost {
    font-weight: bold;
    color: #333;
}

.tower-description-box {
    border: 4px solid #505050;
    padding: 10px;
    background-color: #f0f0f0;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.level-requirement {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
}

.ability {
    margin-top: 20px;
}

.ability-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
}

.ability-image-box {
    width: 125px;
    text-align: center;
}

.ability-icon {
    width: 100px;
    height: 100px;
    border: 1px solid #ddd;
}

.ability-unlock-box {
    margin-top: 10px;
}

.ability-unlock {
    font-weight: bold;
}

.ability-description-box {
    flex: 1;
    padding-left: 20px;
}

@media (max-width: 1024) {
    table, th, td {
        font-size: 1.1rem;
    }
}

@media (max-width: 950px) {
    table, th, td {
        font-size: 1rem; /* Adjust as needed */
    }
}

@media (max-width: 860px) {
    table, th, td {
        font-size: 0.9rem; /* Adjust as needed */
    }
}

@media (max-width: 750px) {
    table, th, td {
        font-size: 0.8rem; /* Adjust as needed */
    }
}

@media (max-width: 600px) {
    table, th, td {
        font-size: 0.7rem; /* Adjust as needed */
    }
    .tower-icon {
        width: 150px;
    }
    .tower-cost {
    font-size: 0.7rem;
    }
}

@media (max-width: 500px) {
    table, th, td {
        font-size: 0.55rem; /* Adjust as needed */
    }
    .tower-icon {
        width: 100px;
    }
    .tower-cost {
    font-size: 0.5rem;
    }
}

@media (max-width: 450px) {
    .tower-description-box {
        font-size: 0.7rem;
    }
}

@media (max-width: 400px) {
    table, th, td {
        font-size: 0.45rem; /* Adjust as needed */
    }
}